.footer {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 0 48px 0;
}

@media screen and (max-width: 896px) {
    .footer {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 692px) {
    .footer {
        flex-direction: column;
        margin-right: 0;
        margin-left: 16px;
    }
}